<%= form_for(@goddess) do |f| %>
  <% if @goddess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goddess.errors.count, "error") %> prohibited this goddess from being saved:</h2>

      <ul>
      <% @goddess.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :personal_statement %><br>
    <%= f.text_area :personal_statement %>
  </div>
  <div class="field">
    <%= f.label :mystic_id %><br>
    <%= f.number_field :mystic_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
