<div id="offer_flyer">
  <% if current_mystic %>
    <%= link_to '#new_goddess_holder', :class => 'fancybox' do %>
      <%= image_tag asset_path('RGG_long_sell.png') %>
    <% end %>
  <% else %>
    <%= link_to '#registration_pane', :class => 'fancybox' do %>
      <%= image_tag asset_path('RGG_long_sell.png') %>
    <% end %>
  <% end %>
</div>

<div id="goddess_registration_pane">

  <div id="new_goddess_holder">
    <%= form_for Goddess.new do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %><br>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %><br>
      <%= f.label :phone %>
      <%= f.text_field :phone %><br>
      <%= f.label :personal_statement %><br>
      <%= f.text_area :personal_statement %><br>
    <% end %>
    <%= form_tag nil, :id => 'payment_form' do %>
      <div id='payment_errors'></div>
      <%= label_tag :credit_card_number %>
      <%= text_field_tag :credit_card_number, nil, :size => 30 %><br>
      <%= label_tag :expiration_date %>
      <%= select_tag :expiration_month, options_for_select(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']) %>
      <%= select_tag :expiration_year, options_for_select((Date.today.year..Date.today.year + 15).to_a) %><br>
      <%= label_tag :cvv_code, 'CVV Code' %>
      <%= text_field_tag :cvv_code, nil, :size => 5 %><br>
      <%= submit_tag 'Join the Goddess Group!', :id => 'goddess_form_submit_button' %><br>
      <i>Credit Cards are processed securely with Stripe.com</i>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    Stripe.setPublishableKey('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
  
    $('#payment_form').bind('submit', function(event) {
      Stripe.card.createToken({
        number: $('#credit_card_number').val(),
        cvc: $('#cvv_code').val(),
        exp_month: $('#expiration_month').val(),
        exp_year: $('#expiration_year').val()
      }, stripeResponseHandler);
      event.preventDefault();
    });
    
    stripeResponseHandler = function(status, response) {
      if (response.error) {
        $("#payment_errors").text(response.error.message);
      } else {
        var goddess_form = $("#new_goddess");
        // token contains id, last4, and card type
        var token = response['id'];
        // insert the token into the form so it gets submitted to the server
        goddess_form.append("<input type='hidden' name='stripe_token' value='" + token + "'/>");
        // and submit
        goddess_form.get(0).submit();
      }
    }
  });
</script>
