<%= form_for(@access) do |f| %>
  <% if @access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access.errors.count, "error") %> prohibited this access from being saved:</h2>

      <ul>
      <% @access.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meditation_id %><br>
    <%= f.text_field :meditation_id %>
  </div>
  <div class="field">
    <%= f.label :mystic_id %><br>
    <%= f.text_field :mystic_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
