<p id="notice"><%= notice %></p>

<p>
  <strong>Meditation:</strong>
  <%= link_to_name @access.meditation %>
</p>

<p>
  <strong>Mystic:</strong>
  <%= link_to_name @access.mystic, 'email' %>
</p>

<%= link_to 'Edit', edit_access_path(@access) %> |
<%= link_to 'Back', accesses_path %>
