<%= form_for(@meditation) do |f| %>
  <% if @meditation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meditation.errors.count, "error") %> prohibited this meditation from being saved:</h2>

      <ul>
      <% @meditation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :soundcloud_url %><br>
    <%= f.text_field :soundcloud_url %>
  </div>
  <div class="field">
    <%= f.label :free %><br>
    <%= f.check_box :free %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
