<div id="meditations">
  <% @meditations.each do |meditation| %>
    <%= div_for meditation do %>
      <% if current_mystic.has_access_to? meditation %>
        <%= link_to meditation.name, display_meditation_path(meditation) %>
      <% else %>
        <%= meditation.name %>
        <%= form_tag purchases_path do %>
          <%= hidden_field_tag :product_id, meditation.products.first.andand.id %>
          <article>
            <label class="amount">
              <span>Price: <%= number_to_currency meditation.current_price_in_dollars %></span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="<%= meditation.name %>"
                  data-amount="<%= meditation.current_price_in_cents %>"></script>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>


