<%= form_for(@inclusion) do |f| %>
  <% if @inclusion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inclusion.errors.count, "error") %> prohibited this inclusion from being saved:</h2>

      <ul>
      <% @inclusion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @inclusion.new_record? && @inclusion.product %>
    <%= f.hidden_field :product_id %>
    <div class="field">
      <%= f.label :meditation_id %><br>
      <%= f.select :meditation_id, options_from_collection_for_select(Meditation.not_in_product(@inclusion.product), :id, :name), :include_blank => true %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :product_id %><br>
      <%= f.select :product_id, options_from_collection_for_select(Product.all, :id, :name, @inclusion.product_id), :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :meditation_id %><br>
      <%= f.select :meditation_id, options_from_collection_for_select(Meditation.all, :id, :name, @inclusion.meditation_id), :include_blank => true %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
