<script>
  check_mystic_login();
  check_mystic_purchases();
</script>
<div id="products">
  <% @products.each do |product| %>
    <%= div_for product do %>
      <%= product.name %>
      <article>
        <% unless current_mystic.andand.has_access_to_product?(product) %>
          <label class="amount">
            <span class="price"><%= number_to_currency product.current_price_in_dollars %></span>
          </label>
        <% end %>
      </article>
      <script src="https://checkout.stripe.com/checkout.js"></script>
      <script>      
        var <%= "purchasing_#{product.id}" %> = StripeCheckout.configure({
          key: '<%= Rails.configuration.stripe[:publishable_key] %>',
          image: '<%= asset_path 'Emily_Tepper_watermark.png' %>',
          token: function(token, args) {
            $.ajax({url: '/purchases', type: 'POST', data: {product_id: <%= product.id %>, stripeToken: token.id}});
          },
          closed: function() {
            window.location = '/products/<%= product.id %>/display';
          }
        });

        <% if product.current_price_in_cents > 0 %>

          $('#<%= dom_id product %>').click(function(e) {
            if (mystic_logged_in) {
              if ($.inArray(<%= product.id %>, mystic_purchases) != -1) {
                window.location = '/products/<%= product.id %>/display'; 
              } else {
                <%= "purchasing_#{product.id}" %>.open({
                  name: '<%= product.name %>',
                  amount: <%= product.current_price_in_cents %>
                });
              }
            } else {
              $('#login_signup_form_link').click();
            }
            e.preventDefault();
          });
          
        <% else %>
        
          $('#<%= dom_id product %>').click(function(e) {
            if (mystic_logged_in) {
              window.location = '/products/<%= product.id %>/display';
            } else {
              $('#login_signup_form_link').click();
            }
          });
          
        <% end %>
      </script>
    <% end %>
  <% end %>
</div>
<div id="goddess_group_opportunity">
  <%= link_to_function 'Want more?', "window.location = '/goddesses/new'", :id => 'goddess_wants_more' %>
</div>
