<div id="products">
  <% @products.each do |product| %>
    <%= div_for product do %>
      <%= product.name %>
      
      <%= form_tag purchases_path do %>
        <%= hidden_field_tag :product_id, product.id %>
        <article>
          <label class="amount">
            <span class="price"><%= number_to_currency product.current_price_in_dollars %></span>
          </label>
        </article>
      <% end %>
    <% end %>
  <% end %>
</div>
