<%= link_to 'Review all our products', browse_products_path %>
<%= link_to_function 'Learn about the Receptivity Goddess Group', "window.location = '/goddesses/new'" %>

<% @product.meditations.each do |meditation| %>
  <%= div_for meditation do %>
    <header>
      <%= meditation.name %>
    </header>
    <section>
      <%= meditation.embed.andand.html_safe %>
    </section>
    <section>
      <%= comment_form_for meditation %>
      <%= display_comments_on meditation %>
    </section>
  <% end %>
<% end %>
